#navbar{
    flex-direction: column;
    font-size: 0.9rem;
    /* overflow: revert; */
    
}

#navbar::before{
    height: 176px;
    width: 116%;
}

#intro{
    margin-top: 40px;
    font-size: 2rem;
}
#sub-intro{
    font-size: 1.5rem;
}
#button-area{
    font-size: 0.9  rem;
}

/* #sub-intro{
    margin-top: 20px;
}
#button-area{
    margin-top: 20px;
} */

#project{
    justify-content: center;
    align-items: center;
}

.project1 img{
    /* width: 350px;
    height: 500px; */
    margin: 0px 3px;
    /* border-radius: 25px; */
    
}
.project2 img{
    /* width: 350px;
    height: 300px; */
    margin: 0px 3px;
    /* border-radius: 25px; */
}

.project3 img{
    /* width: 350px;
    height: 437px; */
    margin: 0px 3px;
    /* border-radius: 25px; */
}
.project4 img{
    /* width: 350px;
    height: 500px; */
    margin: 3px 3px;
    /* border-radius: 25px; */
    
}
.project5 img{
    /* width: 350px;
    height: 500px; */
    margin: -8px 3px;
    /* border-radius: 25px; */
}

.project6 img{
    /* width: 350px;
    height: 437px; */
    margin: 3px 3px;
    /* border-radius: 25px; */
}

.project-heading{
    font-size: 2rem;
}

.ind-skills h1{
    font-size: 1.2rem;
}

.ind-skills p{
    font-size: 0.8rem;
}
.ind-skills{
    height: 332px;
}

#foot{
    width: 120%;
}